{% extends "base_admin.html" %}

{% block content %}
<h1>Пользователи</h1><br>
{% if users %}
<table>
    <tr>
        <td>Имя</td>
        <td>Уровень доступа</td>
{% for user in users %}
    <tr>
        <td><b>{{user['login']}}</b></td>
        <td align='center'>
        {% for i in range(1,6) %}
            {% if i == user['access_level'] %}
{{i}}
            {% else %}
[<a href='/admin/user/change_access_level?login={{user['login']}}&access_level={{i}}'>{{i}}</a>]
            {% endif %}
        {% endfor %}
        </td>
        <td>[<a href='/admin/users/remove?name={{user['login']}}'>удалить</a>]</td>
    </tr>
{% endfor %}
</table>
{% endif %}
<br>
<a href='/admin/user/add'>Добавить...</a>
{% endblock %}
