{% extends "base.html" %}
{% block content %}
<h1>
	{% if note %}
		Редактирование
	{% else %}
		Создание
	{% endif %}
 страницы "{{name}}"
</h1>
<form name="pageedit" action="/edit" method='post'>
	<table>
		<tr>
			<td><input type="hidden" name='name' value='{{name}}'>
				Название:</td><td><input type="text" name='caption' value='{{note['caption']}}'>
		</td></tr>
		<tr>
			<td>Описание:</td><td><input type="text" name='desc' value='{{note['annotation']}}'>
		</td></tr>
		<tr>
			<td colspan=2><textarea name='content' rows='25' cols='45'>{{note['content']}}</textarea></td>
		</tr>
		<tr><td><input class="buttonplain" type="submit" value="Сохранить"></td></tr>
	</table>
</form>
{% endblock %}
