{% extends "base.html" %}

{% block content %}
<h1>Поиск по запросу "{{q}}"</h1>

{% if result %}
{% for element in result %}
<h2><a href="/wiki/{{element.name}}">{{element.caption |safe }}</a></h2>
<p>{{element.annotation |safe}}</p>
<p>Автор: {{element.author}}</p>
{% if level >= 3 or profile == element.author %}
<p>[<a href='/edit?name={{element.name}}'>править</a>] {%if level>=4 or profile==element.author%}[<a href='/delete?name={{element.name}}&q={{q}}'>удалить</a>]{%endif%}</p>
{% endif %}
{% endfor %}
{% else %}
<p>По данному запросу ничего не найдено. Возможно, Вы допустили опечатку. Или попробуйте изменить запрос. Также вы можете <a href="/edit?name={{q}}">создать</a> страницу</p>
{% endif %}

{% endblock %}
