{% extends "base.html" %}

{% block content %}
<h1>Поиск по запросу "{{q}}"</h1>

{% if result %}
{% for element in result %}
<h2><a href="/wiki/{{element['notes.name']}}">{{element['notes.caption'] |safe }}</a></h2>
<p>{{element['notes.annotation'] |safe}}</p>
<p>Автор: {{element['profile.login']}}</p>
{% if level >= 3 or profile == element['profile.login'] %}
<p>[<a href='/edit?name={{element['notes.name']}}'>править</a>] {%if level>=4 or profile==element['profile.login']%}[<a href='/delete?name={{element['notes.name']}}&q={{q}}'>удалить</a>]{%endif%}</p>
{% endif %}
{% endfor %}
{% else %}
<p>По данному запросу ничего не найдено. Возможно, Вы допустили опечатку. Или попробуйте изменить запрос. Также вы можете <a href="/edit?name={{q}}">создать</a> страницу</p>
{% endif %}

{% endblock %}
